@page "/group/{GroupId:long}"
@using System.Security.Claims
@using Tasker.UI.Pages.Dashboard
@attribute [Authorize]

@inject IGroupsManager _groupsManager
@inject IDialogService DialogService

<div>
    <MudText Typo="Typo.h4">@group?.Name</MudText>
    <MudIconButton Icon="@Icons.Material.Filled.Settings" OnClick="OpenGroupEditDialog" />

</div>
<MudDivider />
<AuthorizeView Roles="@($"{GroupId}:Admin")">
    <Authorized>
        <MudButton OnClick="OpenUserAdditionDialog">Add User</MudButton>
    </Authorized>
</AuthorizeView>

<MudText Typo="Typo.h6">In group:</MudText>
@foreach (var member in group.Participants)
{
    <MudText Typo="Typo.body1">@member.User.FirstName @member.User.LastName</MudText>
}
<MudDivider />

<MudTabs>
    <MudTabPanel Text="Group tasks">
        <AuthorizeView Roles="@($"{GroupId}:Manager, {GroupId}:Admin")">
            <Authorized>
                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="OpenTaskDialog">Add Task</MudButton>
            </Authorized>
        </AuthorizeView>

        @foreach (Database.AssignmentModel task in group.Assignments)
        {
            <Assignment assignment="new DataAccess.Assignment(task)" group="group" />
        }
    </MudTabPanel>
    <MudTabPanel Text="My tasks">
        @foreach (Database.AssignmentModel task in group.Assignments.Where(a => a.Participants.
                Select(p => p.User.UserIdentity).
                Contains(CurrentUser.UserIdentity)))
        {
            <Assignment assignment="new DataAccess.Assignment(task)" group="group" />
        }
    </MudTabPanel>
</MudTabs>

@code {
    [Parameter] public long GroupId { get; set; }
    [CascadingParameter] public User CurrentUser { get; set; } = default!;
    private Group group = new();
    private string newUserId = string.Empty;

    private Task OpenUserAdditionDialog()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true, };
        var dialogParameters = new DialogParameters { { "GroupId", GroupId } };

        return DialogService.ShowAsync<AddUserDialog>("Add new user", dialogParameters, options);
    }
    protected override async Task OnInitializedAsync()
    {
        group = await _groupsManager.GetGroupById(GroupId);
    }
    private async Task OpenTaskDialog()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true, };
        var dialogParameters = new DialogParameters { { "GroupId", GroupId } };

        await DialogService.ShowAsync<CreateTaskDialog>("Simple Dialog", dialogParameters, options);
    }

    private async Task OpenGroupEditDialog()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true, };
        var dialogParameters = new DialogParameters { { "group", group } };

        await DialogService.ShowAsync<GroupEditDialog>("Edit group", dialogParameters, options);

    }
}